@import 'mixins';
@import 'variables';

:host {
  display: block;
  margin: 0 0 10px;

  .filter-wrap {

    .title {
      margin: 0 0 10px;
      font-size: 21px;
      font-weight: 600;
    }
  }

  .filter-list {
    display: flex;
    flex-direction: column;

    .filter-item {
      margin: 0 0 10px;
      font-weight: 600;
      letter-spacing: 2px;

      &.disabled {
        opacity: .3;
        pointer-events: none;
      }

      .filter-tag {
        padding: 10px;
        border: 3px solid $primary-color;
        border-radius: 5px;
        color: $primary-color;

        &.selected,
        &:hover {
          color: $secondary-color;
          border: 3px solid $secondary-color;
          cursor: pointer;
        }
      }
    }
  }

  @include bp(desktop) {
    margin: 0 0 30px;

    .filter-list {
      flex-direction: row;

      .filter-item {
        margin: 0 10px 0 0;

        .filter-tag {
          padding: 5px;
        }
      }
    }
  }
}

